em
{
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-image: -webkit-linear-gradient(left, red, orange, yellow,green, blue, indigo, violet);
}
h1
{
	font-size: xx-large;
}
p
{
	font-size: x-large;
}
body
{
 text-align: center;
}
